<!DOCTYPE html>
<html>
<head>
<style>
    span {
        display: block
    }
</style>
</head>
<h1>Python Tutorial 1</h1>
<div class="examples">
    {% for item in reddit_items %}
        <span>Author: {{ item.data.author_fullname }}</span>
        <strong><span>Title: {{ item.data.title }}</span></strong>
        {% if item.status != "failure" %}
            {% if item.comments %}
                {% for comment in item.comments %}
                    <span>Comments:</span>
                    <span>{{ comment.data.body }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</body>
</html>